.tagsContainer
{
    min-width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.filters
{
    display: flex;
    flex-direction: column;
}
.filtersandSearch
{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
