.fullEventDetailsContainer
{
    width: 100%;
height:70vh;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.cardBodyFull
{
    width: 600px;
    height: 650px;
    border: 1px solid #000;
    border-radius:10px ;
    /* box-sizing: border-box; */

}

.eventImage
{
    width: 100%;
    height: 50%;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    /* border: 1px solid #000; */
}
.eventImage img
{
    border-radius: inherit;
    width: 100%;
    height: 99.9%;
    /* background-image: center; */
    overflow: hidden;
    /* object-fit: cover; */
}
.cardContentfull
{
    width: 100%;
    height: 51%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px ;
    box-sizing: border-box;
    /* background-color: #000; */
    color: white;
    border-radius: inherit;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
.eventHeadingfull
{
    width:100%;
    height: 25%;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;
}
.eventHeading p
{
    margin: 0px;
}
.eventDescriptionfull
{
    width: 100%;
    /* height:39%; */
    /* display: -webkit-box; */
  /* -webkit-line-clamp: 3; */
  /* -webkit-box-orient: vertical;   */
   /* text-overflow: ellipsis; */
   /* overflow: hidden; */
   font-size: 17px;
   font-family: 'Sofia Sans', sans-serif;
   margin-bottom: 5px;
}
.eventVenue, .eventDate
{
    /* padding-top: 10px; */
    width: 100%;
    display: -webkit-box;
    /* -webkit-line-clamp: 1; */
    /* -webkit-box-orient: vertical;   */
     /* text-overflow: ellipsis; */
     /* overflow: hidden; */
     font-size: 15px;
     font-family: 'Sofia Sans', sans-serif;
}
.boldClass
{
    font-weight: bold;
}

.eventIcons
{
    display: flex;
    width: 100%;
}
.bookMark
{
    justify-content: space-between;
}
